{% extends 'base.html.twig' %}

{% block title %}Edit ExercisesDone{% endblock %}

{% block body %}
    <h1>Edit ExercisesDone</h1>

    {{ include('exercises_done/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('exercises_done_index') }}">back to list</a>

    {{ include('exercises_done/_delete_form.html.twig') }}
{% endblock %}