{% extends 'base.html.twig' %}

{% block title %}New ExercisesDone{% endblock %}

{% block body %}
    <h1>Create new ExercisesDone</h1>

    {{ include('exercises_done/_form.html.twig') }}

    <a href="{{ path('exercises_done_index') }}">back to list</a>
{% endblock %}