<form method="post" action="{{ path('lifestyle_profile_delete', {'id': lifestyle_profile.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lifestyle_profile.id) }}">
    <button class="btn">Delete</button>
</form>